{% extends 'userpage/base_userpage.html' %}
{% load static %}
{% block title %}{{ film.film_name }}{% endblock %}

{% block content %}
<div class="text-white">
    <iframe width="100%" height="415"
            src="{{ film.trailer }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <br>
    <div class="d-flex  flex-row bd-highlight mb-2 justify-content-left">
        <div class="p-2 bd-bd-highlight">
            <img src="{{ film.main_picture.url }}">
        </div>
        <div class="p-2 bd-bd-highlight">
            <text><b>Название фильма: </b>{{ film.film_name }}</text><br>
            <text><b>Год выхода: </b>{{ film.relese_year }}</text><br>
            <text><b>Страна производитель: </b>{{ film.country }}</text><br>
            <text><b>Продюсер: </b>{{ film.producer }}</text><br>
            <text><b>Режисер: </b>{{ film.director }}</text><br>
            <text><b>Сценарист: </b>{{ film.screenwriter }}</text><br>
            <text><b>Композитор: </b>{{ film.composer }}</text><br>
            <text><b>Оператор: </b>{{ film.operator }}</text><br>
            <text>
                <b>Жанр: </b>
                {% for filmgenre in film.genre.all %}
                    {{ filmgenre.name }}
                {% endfor %}
            </text><br>
            <text><b>Бюджет: </b>{{ film.budget }}</text><br>
            <text><b>Возраст просмотра: </b>{{ film.age }}</text><br>
            <text><b>Длительность фильма: </b>{{ film.time_film }}</text><br>
            <text><b>Примьера: </b>{{ film.date_premiere }}</text><br>
            <text>
                <b>Формат показа: </b>
                {% for filmformat in film.format_film.all %}
                    {{ filmformat.name }}
                {% endfor %}
            </text><br>
            <text><b>Описание: </b>{{ film.description_film }}</text><br>
        </div>
    </div>
  </div>
{% endblock %}