{% extends 'userpage/base_userpage.html' %}
{% load static %}
{% block title %}Схема кинозала{% endblock %}

{% block content %}

<div class="col-md-12 film-info text-center text-white">
            <img src="{{ HallInfo.top_banner.url }}">
</div><br>

<div class="film-info text-center text-white">
    <h1>{{ FilmInfo.film_name }} ({{ SessionInfo.datetime }})</h1>
</div>

    <div class="d-flex  flex-row bd-highlight mb-2 justify-content-left text-white">
        <div class="p-2 bd-bd-highlight">
            <img src="{{ FilmInfo.main_picture.url }}" width="100%">
        </div>
        <div class="p-2 bd-bd-highlight">
            <text><b>Цена в грн: </b>{{ SessionInfo.price_ticket }}</text><br>
            <text><b>Время: </b>{{ SessionInfo.datetime }}</text><br><br>
            <text><b>Описание: </b>{{ FilmInfo.description_film }}</text><br>
        </div>
    </div>

<div class="row js-seat-container text-white" data-current-cost="{{ SessionInfo.price_ticket }}">

    <div class="col-md-7">
        <h1 class="text-white text-center">____ЭКРАН____</h1>
        {% for row in rows %}
        <div class="cinema-row">
            <div class="cinema-row-label">Ряд {{ row }}</div>
            {% for column in columns %}
                <div class="cinema-seat">
                    <input type="checkbox" id="check-{{ row }}-{{ column }}">
                    <label for="check-{{ row }}-{{ column }}"
                           class="js-seat-selector"
                           data-seat-row="{{ row }}"
                           data-seat-col="{{ column }}">{{ column }}</label>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="col-md-2">
        Выбранные места:
        <div class="js-seat-result-container">

        </div>
    </div>

    <div class="js-selected-seat-template" hidden="hidden">
        {{ django_context_varable }}
        {% verbatim %}
            {{#each addedSeats}}
            <div>
                Ряд:{{row}} Место:{{seat}}
            </div>
            {{/each}}
            {{#if addedSeats}}
            <div>
                Итог: {{sum}} грн.
            </div>
            {{/if}}
        {% endverbatim %}
    </div>

</div><br>

<div class="text-center text-white">
    <p><b>Стоимость услуги бронирования - 3 грн. за каждое место</b></p>
    <p>ЗАБРОНИРОВАННЫЕ БИЛЕТЫ НУЖНО ВЫКУПИТЬ В КАССЕ КИНОТЕАТРА НЕ ПОЗДНЕЕ ЧЕМ ЗА ПОЛЧАСА ДО НАЧАЛА СЕАНСА</p>
</div>

<div class="text-center">
    <button class="btn btn-info">Забронировать</button>
    <button class="btn btn-warning">Купить</button>
</div>


{% endblock %}