{% extends 'userpage/base_userpage.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">

    <div class="col-md-12 text-center">
        <div class="sim-slider col-md-12" style="background-color: #0e1822;" id="first">
            <ul class="sim-slider-list">
                {% for slider in Sliders %}
                <li class="sim-slider-element"><a href="{{ slider.url }}"><img class="slider-img" src="{{ slider.picture.url }}" alt="{{slider.id}}"></a></li>
                {% endfor %}
            </ul>
            <div class="sim-slider-arrow-left"></div>
            <div class="sim-slider-arrow-right"></div>
            <div class="sim-slider-arrow-dots"></div>
        </div>
    </div>




    <div class="col-md-12 text-white text-center block-films">
        <h1>Смотрите сегодня, {{ date }}</h1>
        <div class="row">
            {% for film in films_active %}
            <div class="col text-center">
                <a href="{% url 'film_details' film.id %}">
                  <img src="{{ film.main_picture.url }}" width="200" height="295"><br>
                  <text class="text-blue"><b>{{ film.film_name }}</b></text><br>
                  <button type="button" class="btn btn-success" onclick="location.href='#'"><b>Купить билет</b></button>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-12 text-white text-center">
        <h1>Смотрите скоро</h1>
        <div class="row">
                {% for film in films_pending %}
                <div class="col text-center">
                    <a href="{% url 'film_details' film.id %}">
                      <img src="{{ film.main_picture.url }}" width="200" height="295"><br>
                        <text><b>{{ film.film_name }}</b></text><br>
                    </a>
                </div>
                {% endfor %}
        </div>
    </div>

    <div class="col-md-12 text-center">
        <div class="col-md-12 text-center text-white"><h1>Новости и акции</h1></div>
        <div class="sim-slider col-md-12" style="background-color: #0e1822;" id="second">
            <ul class="sim-slider-list">
                {% for slider in NewsAndStocks %}
                <li class="sim-slider-element"><a href="{{ slider.url }}"><img class="slider-img" src="{{ slider.picture.url }}" alt="{{slider.id}}"></a></li>
                {% endfor %}
            </ul>
            <div class="sim-slider-arrow-left"></div>
            <div class="sim-slider-arrow-right"></div>
            <div class="sim-slider-arrow-dots"></div>
        </div>
    </div>

    <div class="col-md-12 text-white text-center">
        <p>{{ MainInfo.seo_text }}</p>
    </div>



</div>
{% endblock %}