{% extends 'userpage/base_userpage.html' %}
{% load static %}
{% block title %}Акции{% endblock %}

{% block content %}
<div class="row text-white">
    <div class="col-md-12 text-center"><h2 class="text-white">Акции и скидки</h2></div>
    <div class="col-md-12 row">
        {% for stock in stocks %}
        <div class="col">
            <a href="{% url 'stock_info_userpage' stock.id %}">
                <div class="row text-center">
                    <div class="col-md-12"><img src="{{ stock.main_picture.url }}" width="200px" height="200px"></div>
                    <div class="col-md-12"><b>{{ stock.name_stock }}</b></div>
                    <div class="col-md-12">Действует с {{ stock.pub_date }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}