{% extends 'userpage/base_userpage.html' %}
{% load static %}
{% block title %}{{ stock.name_stock }}{% endblock %}

{% block content %}
<div class="row text-white">
    <div class="col-md-12"><h1>{{ stock.name_stock }} (c {{ stock.pub_date }})</h1></div>
    {% if stock.url_youtube %}
    <div class="col-md-12">
        <iframe width="100%" height="415"
                src="{{ stock.url_youtube }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
    {% endif %}
    <div class="col-md-12 row">
        <div class="col-md-4"><img src="{{ stock.main_picture.url }}" height="100%" width="100%"></div>
        <div class="col-md-8">
            <p>
                {{ stock.description_stock }}
            </p>
        </div>
    </div>

    {% if  stock.picture_1 %}
    <div class="col-md-12">
       <div class="sim-slider col-md-12" style="background-color: #0e1822;" id="second">
            <ul class="sim-slider-list">
                {% if stock.picture_1 %}
                <li class="sim-slider-element"><img class="slider-img" src="{{ stock.picture_1.url }}"></li>
                {% endif %}
                {% if stock.picture_2 %}
                <li class="sim-slider-element"><img class="slider-img" src="{{ stock.picture_2.url }}"></li>
                {% endif %}
                {% if stock.picture_3 %}
                <li class="sim-slider-element"><img class="slider-img" src="{{ stock.picture_3.url }}"></li>
                {% endif %}
                {% if stock.picture_4 %}
                <li class="sim-slider-element"><img class="slider-img" src="{{ stock.picture_4.url }}"></li>
                {% endif %}
                {% if stock.picture_5 %}
                <li class="sim-slider-element"><img class="slider-img" src="{{ stock.picture_5.url }}"></li>
                {% endif %}
            </ul>
            <div class="sim-slider-arrow-left"></div>
            <div class="sim-slider-arrow-right"></div>
            <div class="sim-slider-arrow-dots"></div>
        </div>
    </div><br>
    {% endif %}

</div>
{% endblock %}