{% extends 'userpage/base_userpage.html' %}
{% load static %}
{% block title %}Рассписание{% endblock %}

{% block content %}
<div class="row">
    <div class="session film col-md-12">
        <table class="table table-bordered text-white">
                <thead>
                    <th scope="col" class="text-center">ДАТА И ВРЕМЯ</th>
                    <th scope="col" class="text-center">ФИЛЬМ</th>
                    <th scope="col" class="text-center">КИНОТЕАТР</th>
                    <th scope="col" class="text-center">ЗАЛ</th>
                    <th scope="col" class="text-center">ЦЕНА В ГРН</th>
                    <th scope="col" class="text-center">БРОНИРОВАТЬ</th>
                </thead>
                {% for session in session_list %}
                    <tbody>
                        <td scope="col" class="text-center">{{ session.datetime }}</td>
                        <td scope="col"><a href="{% url 'film_details' session.film.id %}">{{ session.film.film_name }}</a></td>
                        <td scope="col">{{ session.hall.cinema_id.cinema_name }}</td>
                        <td scope="col" class="text-center">{{ session.hall.number_hall }}</td>
                        <td scope="col" class="text-center">{{ session.price_ticket }}</td>
                        <td class="text-center">
                            <a href="{% url 'session_hall_info' session.id %}"><i class="nav-icon fas fa-ticket-alt fa-2x"></i></a>
                        </td>
                     </tbody>
                {% endfor %}
            </table>
    </div>
</div>
{% endblock %}