.multiselect-native-select{
    width: 100%;
}

.multiselect-container{
    width: 300px;
    height: 200px;
    overflow: auto;
}

.main-footer{
    width: 100%;
}

.button-add-mass{
    margin-left: auto;
    margin-right: auto;
}

.title-all-film{
    text-align: center;
}

.all-name-adminpanel{
    text-align: center;
}

.footer{
    height:60px;
    margin-top: 2%;
    padding: 1%;
    border-top: 1px solid black;
    background-color: #F0F0E9;
}

.btn-add-cinema{
    height: 200px;
    width: 200px;
}


.label-cinema{
    text-align: center;
    color: black;
}

.table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn-news-stock{
    margin-right: 20%;
}


#upload-btn{
    cursor:pointer;
}

#upload-picture1{
    cursor:pointer;
}

#upload-picture2{
    cursor:pointer;
}

#upload-picture3{
    cursor:pointer;
}

#upload-picture4{
    cursor:pointer;
}

#upload-picture5{
    cursor:pointer;
}
