header {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.container{
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
}

.container-bottom {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}