header {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.container-main{
    background-color: #0e1822;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%
}

.container-bottom {
    background-color: grey;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1.5%
}