{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Добавление/Редактирование{% endblock %}

{% block name %}Добавление/Редактирование фильма{% endblock %}

{% block content %}

<div class="add-film">
  <form method="POST" enctype="multipart/form-data">
      {{ formset.management_data }}
      {% csrf_token %}

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Название фильма: </label>
           <div class="col-sm-10">
               {{ form.film_name }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Год выхода: </label>
           <div class="col-sm-10">
                {{ form.relese_year }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Страна производства: </label>
           <div class="col-sm-10">
                {{ form.country }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Продюсер: </label>
           <div class="col-sm-10">
                {{ form.producer }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Режисер: </label>
           <div class="col-sm-10">
                {{ form.director }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Сценарист: </label>
           <div class="col-sm-10">
                {{ form.screenwriter }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Композитор: </label>
           <div class="col-sm-10">
                {{ form.composer }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Оператор: </label>
           <div class="col-sm-10">
                {{ form.operator }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Жанр: </label>
           <div class="col-sm-10">
               {{ form.genre }}

           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Бюджет: </label>
           <div class="col-sm-10">
                {{ form.budget }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Возраст просмотра: </label>
           <div class="col-sm-10">
                {{ form.age }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Длительность фильма: </label>
           <div class="col-sm-10">
                {{ form.time_film }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Описание фильма: </label>
           <div class="col-sm-10">
                {{ form.description_film }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Главное изображение: </label>
           <div class="col-sm-10">
              <img id="img-preview" src="{% static 'img/default/default-img.png' %}" width="200" height="200"/>
              {{ form.main_picture }}
           </div>
       </div> <br>

        <div class="mb-2 row">
            <div class="row">
                <label class="col-sm-2 col-form-label text-right">Галерея картинок: </label>
                    <div class="col">
                        {{ form.picture_1 }}
                    </div>
                    <div class="col">
                        {{ form.picture_2 }}
                    </div>
                    <div class="col">
                        {{ form.picture_3 }}
                    </div>
                    <div class="col">
                        {{ form.picture_4 }}
                    </div>
                    <div class="col">
                        {{ form.picture_5 }}
                    </div>
            </div>
       </div> <br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Статус фильма: </label>
           <div class="col-sm-10">
                {{ form.status_film }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Дата примьеры: </label>
           <div class="col-sm-10">
                {{ form.date_premiere }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Трейлер: </label>
           <div class="col-sm-10">
                {{ form.trailer }}
           </div>
       </div><br>

       <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Формат фильма: </label>
           <div class="col-sm-10">
                {{ form.format_film }}
           </div>
       </div><br>

        <input type="submit" class="btn btn-dark float-right" value="Добавить/Сохранить"><br>
  </form>
</div>



    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        $('#img').change(function () {
            var input = $(this)[0];
            if (input.files && input.files[0]) {
                if (input.files[0].type.match('image.*')) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-preview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                } else {
                    console.log('ошибка, не изображение');
                }
            } else {
                console.log('хьюстон у нас проблема');
            }
        });
    </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#genre-select').multiselect();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#format-select').multiselect();
            });
        </script>
{% endblock %}