{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Добавление/Редактирование{% endblock %}

{% block name %}Добавление/Редактирование кинотеатра{% endblock %}

{% block content %}

<div class="add-cinema">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-right">Название кинотеатра: </label>
                <div class="col-sm-10">
                    {{ form.cinema_name }}
                </div>
            </div><br>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-right">Описание кинотеатра: </label>
                <div class="col-sm-10">
                     {{ form.description_cinema }}
                </div>
            </div><br>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-right">Уcловия: </label>
                <div class="col-sm-10">
                     {{ form.conditions }}
                </div>
            </div><br>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-right"> Логотип кинотеатра: </label>
                <div class="col-sm-10">
                    <img id="upload-picture1" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
                    <div hidden="hidden">
                        {{ form.logo }}
                    </div>
                </div>
            </div> <br>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-right"> Верхний баннер: </label>
                <div class="col-sm-10">
                     <img id="upload-btn" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
                     <div hidden="hidden">
                        {{ form.top_banner}}
                     </div>
                </div>
            </div> <br>

            <div class="mb-3 row">
                <input type="submit" class="button-add-mass btn btn-dark col-md-4" value="Добавить/Сохранить"><br>
            </div>

      </form>

</div>



    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        const uploadFile = document.getElementById("main_img");
        const uploadPicture_1 = document.getElementById("picture_1");
        const uploadBtn = document.getElementById("upload-btn");
        const uploadBtnPicture_1 = document.getElementById("upload-picture1");

        uploadBtn.addEventListener("click", function () {
        uploadFile.click();
        });

        uploadBtnPicture_1.addEventListener("click", function () {
        uploadPicture_1.click();
        });
    </script>
    <script>
        $('#main_img').change(function () {
                var input = $(this)[0];
                if (input.files && input.files[0]) {
                    if (input.files[0].type.match('image.*')) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#upload-btn').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    } else {
                        console.log('ошибка, не изображение');
                    }
                } else {
                    console.log('хьюстон у нас проблема');
                }
            });

    $('#picture_1').change(function () {
                var input = $(this)[0];
                if (input.files && input.files[0]) {
                    if (input.files[0].type.match('image.*')) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#upload-picture1').attr('src', e.target.result);
                        }
                        reader.readAsDataURL(input.files[0]);
                    } else {
                        console.log('ошибка, не изображение');
                    }
                } else {
                    console.log('хьюстон у нас проблема');
                }
            });
    </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#genre-select').multiselect();
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#format-select').multiselect();
            });
        </script>
{% endblock %}