{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Добавление/Редактирование{% endblock %}

{% block name %}Добавление/Редактирование зала{% endblock %}

{% block content %}
<div class="add-hall">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Номер зала: </label>
           <div class="col-sm-10">
               {{ form.number_hall }}
           </div>
      </div><br>

      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Описание зала: </label>
           <div class="col-sm-10">
                {{ form.description_hall }}
           </div>
      </div><br>

     <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-right"> Верхний баннер: </label>
         <div class="col-sm-10">
             <img id="upload-btn" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
             <div hidden="hidden">
                {{ form.top_banner}}
             </div>
         </div>
     </div> <br>

      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Количесов рядом: </label>
           <div class="col-sm-10">
                {{ form.row }}
           </div>
      </div><br>
      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Мест в ряду: </label>
           <div class="col-sm-10">
                {{ form.col }}
           </div>
      </div><br>
    <div class="mb-3 row">
        <input type="submit" class="button-add-mass btn btn-dark" value="Добавить/Сохранить"><br>
    </div>
  </form>
</div>

    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
    const uploadFile = document.getElementById("main_img");
    const uploadBtn = document.getElementById("upload-btn");

    uploadBtn.addEventListener("click", function () {
    uploadFile.click();
    });

</script>
<script>
    $('#main_img').change(function () {
            var input = $(this)[0];
            if (input.files && input.files[0]) {
                if (input.files[0].type.match('image.*')) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#upload-btn').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                } else {
                    console.log('ошибка, не изображение');
                }
            } else {
                console.log('хьюстон у нас проблема');
            }
        });

</script>
{% endblock %}