{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Добавление/Редактирование{% endblock %}

{% block name %}Добавление/Редактирование новости{% endblock %}

{% block content %}
<div class="add-news">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Статус новости: </label>
           <div class="col-sm-10">
                {{ form.status_news }}
           </div>
       </div><br>


      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Название новости: </label>
           <div class="col-sm-10">
               {{ form.name_news }}
           </div>
      </div><br>

      <div class="mb-3 row">
          <label class="col-sm-2 col-form-label text-right">Дата публикации: </label>
          <div class="col-sm-10">
               {{ form.pub_date }}
          </div>
      </div><br>

      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Описание: </label>
           <div class="col-sm-10">
                {{ form.description_news }}
           </div>
      </div><br>

             <div class="mb-2 row">
           <label class="col-sm-2 col-form-label text-right">Главное изображение: </label>
           <div class="col-sm-10">
               <img id="upload-btn" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
               <div hidden="hidden">
                   {{ form.main_picture }}
               </div>
           </div>
       </div> <br>

        <div class="mb-2 row">
                <label class="col-sm-2 col-form-label text-right">Галерея картинок:</label>

                <div class="col-sm-2">
                    <img id="upload-picture1" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
                    <div hidden="hidden">
                        {{ form.picture_1 }}
                    </div>
                </div>

                <div class="col-sm-2">
                    <img id="upload-picture2" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
                    <div hidden="hidden">
                        {{ form.picture_2 }}
                    </div>
                </div>

                <div class="col-sm-2">
                    <img id="upload-picture3" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
                    <div hidden="hidden">
                        {{ form.picture_3 }}
                    </div>
                </div>

                <div class="col-sm-2">
                    <img id="upload-picture4" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
                    <div hidden="hidden">
                        {{ form.picture_4 }}
                    </div>
                </div>

                <div class="col-sm-2">
                    <img id="upload-picture5" src="{% static 'img/default/default-img.png' %}" width="150" height="150"/>
                    <div hidden="hidden">
                        {{ form.picture_5 }}
                    </div>
                </div>
       </div> <br>

      <div class="mb-3 row">
           <label class="col-sm-2 col-form-label text-right">Ссылка на видео: </label>
           <div class="col-sm-10">
                {{ form.url_youtube }}
           </div>
       </div><br>

      <div class="mb-3 row">
          <input type="submit" class="button-add-mass btn btn-dark col-md-4" value="Добавить/Сохранить"><br>
      </div>
  </form>
</div>
{% endblock %}