{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Новый фильм{% endblock %}

{% block name %}Добавление нового фильма{% endblock %}

{% block content %}

<div class="add-film">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
      {{ form.film_name }}<br>
      {{ form.relese_year }}<br>
      {{ form.country }}<br>
      {{ form.producer }}<br>
      {{ form.director }}<br>
      {{ form.screenwriter }}<br>
      {{ form.composer }}<br>
      {{ form.operator }}<br>
      {{ form.genre }}<br>
      {{ form.budget }}<br>
      {{ form.age }}<br>
      {{ form.time_film }}<br>
      {{ form.description_film }}<br>
      {{ form.main_picture }}<br> <br>
      {{ form.status_film }}<br>
      {{ form.date_premiere }}<br>
      {{ form.trailer }}<br>
      {{ form.format_film }}<br>


    <input type="submit" class="btn btn-dark" value="Добавить">
  </form>
</div>

{% endblock %}