{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Баннера/Слайдеры{% endblock %}

{% block name %}Баннера/Слайдеры{% endblock %}

{% block content %}

<div class="row">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="top-banners col-md-12">
        <h1 class="text-center">На главной вверх</h1>
        <div class="border border-dark rounded top-banners-border">
            <div class="row" style="margin-bottom: 1%">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><h4>Размер: 1000х190</h4></div>

<!--                        <div class="form-check form-switch col-md-6 text-right">-->
<!--                            <input class="form-check-input" type="checkbox" id="flexSwitchChecked" checked>-->
<!--                        </div>-->
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <div class="row">
                        {% for slider in Sliders %}
                        <div class="col-md-2" style="margin: 1%">
                            <div class="col-md-12"><label>Слайд</label></div>
                            <div class="col-md-12">
                                <img src="{{ slider.picture.url }}" width="100%" height="100%"/>
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">URL:</label>
                                <input class="form-control" type="text" value="{{ slider.url }}">
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">Текст:</label>
                                <input class="form-control" type="text" value="{{ slider.description }}">
                            </div>
                            <div class="col-md-12"><a href="{% url 'delete_slider' slider.id %}">Удалить</a></div>
                        </div>
                        {% endfor %}
                        <div class="col-md-2" style="margin: 1%">
                            <div class="col-md-12"><label>Добавить фото</label></div>
                            <div class="col-md-12">
                                <img id="upload-btn" src="{% static 'img/default/default-img.png' %}" width="100%" height="100%"/>
                                <div hidden="hidden">
                                    {{ formSlider.picture }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">URL:</label>
                                {{ formSlider.url }}
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">Текст:</label>
                                {{ formSlider.description }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12" style="margin-top: 2%">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="submit" class="btn btn-dark text-center" name="add-slider" value="Сохранить"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="col-md-12 background-banners">
        <h1 class="text-center">Сквозной банер на заднем фоне</h1>
        <div class="border border-dark rounded    news-stock-banners-border">
            <div class="row">
                <div class="col-md-12">
                    <h4>Размер: 2000х3000</h4>
                </div>
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-4">
                            {{ formBackground.backgroundOn }}
                        </div>
                        {% if Background.backgroundImg != 'static/img/default/background-default.jpeg' %}
                        <div class="col-md-4">
                            <img src="{{ Background.backgroundImg.url }}" width="175px" height="125px"/>
                        </div>
                        {% else %}
                        <div class="col-md-4">
                            <img id="upload-picture2"  src="{% static 'img/default/default-img.png' %}" width="175px" height="125px"/>
                        </div>
                        <div hidden="hidden" class="col-md-4">{{ formBackground.backgroundImg }}</div>
                        {% endif %}
                        <div class="col-md-2"><input type="submit" class="btn btn-dark" name="update-background" value="Сохранить"/></div>
                        <div class="col-md-2"><a class="btn btn-dark" href="{% url 'delete_background' Background.id %}">Удалить</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="col-md-12 news-stock-banners">
        <h1 class="text-center">На главной Новости Акции</h1>
        <div class="border border-dark rounded news-stock-banners-border">
            <div class="row" style="margin-bottom: 1%">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><h4>Размер: 1000х190</h4></div>

                        <div class="form-check form-switch col-md-6 text-right">
                            <input class="form-check-input" type="checkbox" checked>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <div class="row">
                        {% for newsstock in NewsAndStocks %}
                        <div class="col-md-2" style="margin: 1%">
                            <div class="col-md-12"><label>Слайд</label></div>
                            <div class="col-md-12">
                                <img src="{{ newsstock.picture.url }}" width="100%" height="100%"/>
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">URL:</label>
                                <input class="form-control" type="text" value="{{ newsstock.url }}">
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">Текст:</label>
                                <input class="form-control" type="text" value="{{ newsstock.description }}">
                            </div>
                            <div class="col-md-12"><a href="{% url 'delete_newsslider' newsstock.id %}">Удалить</a></div>
                        </div>
                        {% endfor %}
                        <div class="col-md-2" style="margin: 1%">
                            <div class="col-md-12"><label>Добавить фото</label></div>
                            <div class="col-md-12">
                                <img id="upload-picture1" src="{% static 'img/default/default-img.png' %}" width="100%" height="100%"/>
                                <div id="main-used-picture" hidden="hidden">
                                   {{ formNewsAndStock.picture }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">URL:</label>
                                {{ formNewsAndStock.url }}
                            </div>
                            <div class="col-md-12">
                                <label class="md-6">Текст:</label>
                                {{ formNewsAndStock.description }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-12" style="margin-top: 2%">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input type="submit" class="btn btn-dark text-center" name="add-news-stock" value="Сохранить"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

{% endblock%}