{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Кинотеарт {{ cinema.cinema_name }}{% endblock %}

{% block name %}Кинотеарт {{ cinema.cinema_name }}{% endblock %}

{% block content %}
<div class="button-add-mass col-md-3 text-end">
    <button type="button" class="btn btn-dark" onclick="location.href='{% url 'edit_cinema' cinema.id %}'">Редактировать основную информацию</button><br><br>
</div>


<div class="">
    <div class="top-banner">
        <img src="{{ cinema.top_banner.url }}" width="100%" height="200"><br>
    </div>
    <br>
    <div class="d-flex  flex-row bd-highlight mb-2 justify-content-left">
        <div class="p-2 bd-bd-highlight">
            <img src="{{ cinema.logo.url }}">
        </div>
        <div class="p-2 bd-bd-highlight">
            <text><b>Название кинотеатра: </b>{{ cinema.cinema_name }}</text><br>
            <text><b>Описание: </b>{{ cinema.description_cinema }}</text><br>
            <text><b>Условия:: </b>{{ cinema.conditions }}</text><br>
        </div>
    </div>
    <div class="row">

        <div class="button-add-mass col-md-3">
            <h1 class="button-add-mass">Список залов</h1>
        </div>

        <table class="table table-bordered">
            <thead>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Эл. упр</th>
            </thead>
                {% for hall in hall_list %}
                <tbody>
                    <td>{{ hall.number_hall }}</td>
                    <td>{{ hall.create_date }}</td>
                    <td>
                        <a href="{% url 'hall_info' hall.id%}"><i class="nav-icon fas fa-pen fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="{% url 'delete_hall' hall.id %}"><i class="nav-icon fas fa-trash fa-2x"></i></a>
                    </td>
                 </tbody>
                {% endfor %}
        </table>

        <div class="button-add-mass col-md-2">
            <button type="button" class="button-add-mass btn btn-dark" onclick="location.href='{% url 'add_hall' cinema.id %}'">Создать зал</button><br><br>
        </div>
    </div>
  </div>
{% endblock %}