{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Удаление новости {{ news.name_news }}{% endblock %}

{% block name %}Удаление новости{% endblock %}

{% block content %}
<div>
  {% if request.user.is_authenticated %}
  <h1>Удаление новости: "{{ news.name_news }}"</h1>
  <p>Вы уверены что хотите удалить новость?</p>

  <form method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-dark" value="Удалить новость">
  </form>
  {% else %}
  <p>Для удаления зала надо <a href="{% url 'login' %}">авторизоватся.</a></p>
  {% endif %}
</div>
{% endblock %}