{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Фильмы{% endblock %}

{% block content %}

<div class="row">

    <div class="button-add-mass col-md-12 text-center">
        <button type="button" class="btn btn-dark" onclick="location.href='{% url 'add_film' %}'">Добавить фильм</button><br><br>
    </div>

    <div class="col-md-12">
        <h2 class="title-all-film">Список фильмов текущих</h2>

        <div class="row">
            {% for film in films_active %}
            <div class="col">
                <div class="row">
                    <a class="col-md-12 text-center" href="{% url 'editfilm' film.id %}">
                      <img src="{{ film.main_picture.url }}" width="200" height="295"><br>
                      <text>{{ film.film_name }}</text>
                    </a>
                    <a class="col-md-12 text-center" href="{% url 'delete_film' film.id %}">Удалить</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-12">
        <h2 class="title-all-film">Список фильмов которые покажут скоро</h2>
        <div class="row">
            {% for film in films_pending %}
            <div class="col">
                <div class="row">
                    <a class="col-md-12 text-center" href="{% url 'editfilm' film.id %}">
                      <img src="{{ film.main_picture.url }}" width="200" height="295"><br>
                      <text>{{ film.film_name }}</text>
                    </a>
                    <a class="col-md-12 text-center" href="{% url 'delete_film' film.id %}">Удалить</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-12">
        <h2 class="title-all-film">Архив фильмов</h2>
    </div>
</div>
{% endblock %}