{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Рассылка{% endblock %}

{% block name %}Рассылка{% endblock %}

{% block content %}
<div class="mailing">
    <div class="border border-dark rounded sms-block row">
        <div class="col-md-12 text-center"><h1>SMS</h1></div>
        <div class="col-md-12 row">
            <div class="col-md-3">
                <label>Выбрать пользователей кому слать</label>
            </div>
            <div class="col-md-3 form-check">
                <input class="form-check-input" type="radio" name="RadioSMS" id="SmsCheckAllUser">
                <label class="form-check-label" for="SmsCheckAllUser">Все пользователи</label>
            </div>
             <div class="col-md-3 form-check">
                <input class="form-check-input" type="radio" name="RadioSMS" id="SmsCheckSelectivelyUser">
                <label class="form-check-label" for="SmsCheckSelectivelyUser">Выборочно</label>
            </div>
            <div class="col-md-3 text-right">
                <button class="btn btn-dark">Выбрать пользователей</button>
            </div>
        </div>
        <div class="col-md-12 row">
            <div class="col row">
                <div class="col-md-12 row">
                    <div class="col-md-6 text-left">Текст SMS</div>
                    <div class="col-md-6 text-right">Символов:{0}</div>
                </div>
                <div class="col-md-12 text-center">
                    <textarea rows="5" style="width: 100%"></textarea>
                </div>
            </div>
            <div class="col row">
                <div class="col-md-12">Кол-во SMS: {0}</div>
                <div class="col-md-12">Рассылка выполнена на: {0%} {0}</div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-dark">Начать рассылку</button>
        </div>
    </div>

    <div class="border border-dark rounded email-block row">
        <div class="col-md-12 text-center"><h1>E-mail</h1></div>
        <div class="col-md-12 row">
            <div class="col-md-3">
                <label>Выбрать email кому слать</label>
            </div>
            <div class="col-md-3 form-check">
                <input class="form-check-input" type="radio" name="RadioEmail" id="EmailCheckAllUser">
                <label class="form-check-label" for="EmailCheckAllUser">Все пользователи на почту</label>
            </div>
             <div class="col-md-3 form-check">
                <input class="form-check-input" type="radio" name="RadioEmail" id="EmailCheckSelectivelyUser">
                <label class="form-check-label" for="EmailCheckSelectivelyUser">Выборочно</label>
            </div>
            <div class="col-md-3 text-right">
                <button class="btn btn-dark">Выбрать пользователей</button>
            </div>
        </div>

        <div class="col-md-12 row">
            <div class="col-md-6 row">
                <div class="col-md-12 row">
                    <div class="col-md-6 text-left">Загрузить HTML-письмо</div>
                    <div class="col-md-6 text-center"><button class="btn btn-dark">Загрузить</button></div>
                </div>
                <div class="col-md-12">Загружен файл: {}</div>
                <div class="col-md-12">Шаблон используемый в текущей рассылке: {}</div>
                <div class="col-md-12 row">
                    <div class="col-md-6">Кол-во писем: {}</div>
                    <div class="col-md-6">Рассылка выполнена на: {}</div>
                </div>
            </div>
            <div class="col-md-6 border border-dark rounded row">
                <div class="col-md-12 text-center">Список последних загруженных шаблонов</div>
                <div class="col-md-12 text-center">{Список}</div>
            </div>
        </div>


        <div class="col-md-12 text-center">
            <button class="btn btn-dark">Начать рассылку</button>
        </div>
    </div>
</div>

{% endblock %}