{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Новости{% endblock %}

{% block name %}Список новостей{% endblock %}

{% block content %}
<div class="col-md-3 float-right">
    <button type="button" class="btn-news-stock btn btn-dark float-right" onclick="location.href='{% url 'add_news' %}'">Создать новость</button>
    <br><br><br>
</div>
<div>

        <table class="table table-bordered">
            <thead>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Статус</th>
                <th scope="col">Эл. упр</th>
            </thead>
            {% for news in news_list %}
                <tbody>
                    <td>{{ news.name_news }}</td>
                    <td>{{ news.create_date }}</td>
                    <td>{{ news.status_news }}</td>
                    <td>
                        <a href="{% url 'edit_news' news.id %}"><i class="nav-icon fas fa-pen fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="{% url 'delete_news' news.id %}"><i class="nav-icon fas fa-trash fa-2x"></i></a>
                    </td>
                </tbody>
            {% endfor %}
        </table>
</div>

{% endblock%}