{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Статистика{% endblock %}

{% block name %}Статистика{% endblock %}

{% block content %}


<div class="container-fluid">
        <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-6">
            <!-- small box -->
      <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ sumBuyTicket }} грн</h3>

                <p>Прибыль с билетов</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ sessions }}</h3>

                <p>Сеансов всего</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ activ_session }}</h3>

                <p>Сеансы активные</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ count_users }}</h3>

                <p>Пользователей</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </div>
          </div>
  </div>
</div>

<div class="col-md-12 row">
  <div class="col-md-12 text-center"><h1>Сеансы</h1></div>
  <div class="col-md-12">
    <ul>
      <ol><b>Общее количесов сеансов: </b> {{ sessions }} </ol>
      <ol><b>Активные сеансы: </b>{{ activ_session }}</ol>
      <ol><b>Колицество мест активных сеансов: </b>{{ allSeat }}</ol>
      <ol><b>Занято: </b>{{ buySeat }}</ol>
      <ol><b>Сводобно: </b> {{ freeSeat }}</ol>
      <ol><b>Процент заполнености сеансов: </b>{{ percentBuySeat }}%</ol>
    </ul>
  </div>

  <div class="col-md-12 text-center"><h1>Фильмы</h1></div>
  <div class="col-md-12">
    <ul>
      <ol><b>Общее количесов фильмов: </b> {{ films }} </ol>
      <ol><b>Фильмов в прокате: </b>{{ activeFilms }}</ol>
      <ol><b>Ожидающих проката: </b>{{ soonFilms }}</ol>
      <ol><b>Архив: </b>{{ archiveFilms }}</ol>
    </ul>
  </div>


</div>





{% endblock %}