{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Акции{% endblock %}

{% block name %}Список Акции{% endblock %}

{% block content %}
<div class="col-md-3 float-right">
    <button type="button" class="btn-news-stock btn btn-dark float-right" onclick="location.href='{% url 'add_stock' %}'">Создать Акцию</button>
    <br><br><br>
</div>
<div>
        <table class="table table-bordered">
            <thead>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Статус</th>
                <th scope="col">Эл. упр</th>
            </thead>
            {% for stock in stocks %}
                <tbody>
                    <td>{{ stock.name_stock }}</td>
                    <td>{{ stock.create_date }}</td>
                    <td>{{ stock.status_stock }}</td>
                    <td>
                        <a href="{% url 'edit_stock' stock.id %}"><i class="nav-icon fas fa-pen fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="{% url 'delete_stock' stock.id %}"><i class="nav-icon fas fa-trash fa-2x"></i></a></td>
                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock%}